@import 'mixins';

@media screen and (min-width:1000px) {
    .about_page {
        @include page_setup;
        background-color: lightgray;
        display: flex;
        width: 100vw;
        justify-content: center;
        align-items: center;

    img {
        // display: none;
        width: 100vw;
        height: auto;
        position: relative;
        top: -30%;
    }
        p {
            position: absolute;
            width: 90%;
            height: auto;
            background-color: rgba(255, 255, 255, 0.446);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border-radius: 5%;
            
                font-family: Arial, Helvetica, sans-serif;
                color:  rgb(72, 72, 72);
                padding: 5%;
                font-weight: normal;
                font-size: 24px;
                line-height: 1.5;
                width: 50%;
                z-index: 200;
            
        }
    }
}

@media screen and (max-width:1000px) {

    .about_page {
        display: none;
    }

    .about_page_mobile {
        @include page_setup;

        background-color: lightgray;
        height: 100vh;
        width: 100vw;
        position: relative;
        overflow-y: hidden;

        .back_button {
            width: 100%;
            position:sticky;
            top:0;
            right: 0px;
            padding-bottom:20px;

            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 5vh;

            background-color: white;
    
            p {
                padding: 10px;
                padding-right: 30px;
                white-space: nowrap;//phone number wraps without this

                font-family: Arial, Helvetica, sans-serif;
                color: rgb(72, 72, 72);
                text-decoration: none;
                font-size: 18px;
                font-weight: bold;
            }
            a {
                padding: 10px;
                padding-right: 30px;
                justify-self: end;

                font-family: Arial, Helvetica, sans-serif;
                color: rgb(72, 72, 72);
                text-decoration: none;
                font-size: 18px;
                font-weight: bold;

            }
    
    
        }

    img {
        position: relative;
        top: 0;
        z-index: 100;
    }
        .content {
            width: 80%;
            height: auto;
            position: absolute;
            top: 20%;
            margin-left: 10%;
            margin-right: 10%;

            background-color: rgba(255, 255, 255, 0.446);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border-radius: 5%;
    
            font-family: Arial, Helvetica, sans-serif;
            color:  rgb(72, 72, 72);
            padding: 5%;
            font-weight: normal;
            font-size: 20px;
            line-height: 1.5;
            text-align: center;

            z-index: 175;
            
        }
    }
}