@import 'mixins';

@media screen and (min-width:1000px) {
    .location_page {
        @include page_setup;
        background-color: white;
        display: grid;
        grid-template-columns: 50vw 50vw;
        grid-template-rows: 100%;
        // margin-top: 20vh;

        .maps_container {
            grid-column: 1;
            overflow:hidden;
            width:50vw;
            height:90vh;
            background-color: blue;
            position: relative;
            bottom:-10vh;
            
        }

        .contact_us_section {
            margin-top: 20vh;
            grid-column: 2;
            width: 100%;
            // text-align: center;
            padding-left: 20%;
            line-height: 2;


            h1 {
                width: 100%;
                font-family: Arial, Helvetica, sans-serif;
                color: rgb(72, 72, 72);
                // text-align: center;
                margin-bottom: 20px;
        
            }
            .text {
                font-family: Arial, Helvetica, sans-serif;
                color:  rgb(72, 72, 72);
                font-weight: normal;
            }
            
            .material-symbols-outlined {
                font-variation-settings:
                'FILL' 0,
                'wght' 700,
                'GRAD' 0,
                'opsz' 24;
                color: red;
            }   

                
        }
    }
}


@media screen and (max-width:1000px) {
    
    .location_page {
        display: none;
    }
    
    .location_page_mobile {

        width: 100%;
        height: 100vh;
        background-color: white;
        height: 100vh;

        
        .back_button {
            width: 100%;
            // height: 10%;
            // height: 5vh;
            position:sticky;
            top:0;
            right: 0px;
            display: flex;
            justify-content: end;
            // padding-right: 10vw;
            // padding: 5%;
            background-color: white;
            border-bottom: solid 2px rgb(72, 72, 72);
    
            p {
                font-family: Arial, Helvetica, sans-serif;
                color: rgb(131, 0, 0);
                font-size: 18px;
                justify-self: start;
            }
            a {
                font-family: Arial, Helvetica, sans-serif;
                color: rgb(72, 72, 72);
                text-decoration: none;
                font-size: 18px;
                font-weight: bold;
                // border: solid darkgray 2px;
                padding: 10px;
                padding-right: 30px;
                justify-self: end;
               
            }
    
    
        }
        .maps_container {
            overflow:hidden;
            width:100%;
            height:70vh;
            background-color: blue;
            position: relative;
            // bottom:-10vh;
            
        }

        .contact_us_section {

            width: 100%;
            height: auto;
            // text-align: center;
            padding-left: 5%;
            line-height: 2;


            h1 {
                width: 100%;
                font-family: Arial, Helvetica, sans-serif;
                color: rgb(72, 72, 72);
                // text-align: center;
                margin-bottom: 20px;
        
            }
            .text {
                font-family: Arial, Helvetica, sans-serif;
                color:  rgb(72, 72, 72);
                font-weight: normal;
            }
            
            .material-symbols-outlined {
                font-variation-settings:
                'FILL' 0,
                'wght' 700,
                'GRAD' 0,
                'opsz' 24;
                color: red;
            }   

                
        }
    }
}