@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@media screen and (min-width: 1000px) {
  .header_setup_mobile {
    display: none;
  }
  .header_setup_desktop {
    position: fixed;
    top: 0;
    right: 0;
    height: 10vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    z-index: 250;
    display: flex;
    flex-direction: row;
  }
  .header_setup_desktop .logo_container {
    position: relative;
    width: 25%;
    height: 100%;
  }
  .header_setup_desktop .logo_container img {
    height: 100%;
    width: auto;
    position: relative;
    bottom: 0;
    filter: invert(11%) sepia(75%) saturate(5626%) hue-rotate(359deg) brightness(83%) contrast(110%);
  }
  .header_setup_desktop nav {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-wrap: no wrap;
    align-items: center;
    gap: 20px;
  }
  .header_setup_desktop nav a {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(135, 1, 1);
    font-size: 26px;
    text-decoration: none;
  }
  .header_setup_desktop nav a:hover {
    transform: scale(1.1);
    border-bottom: solid rgb(135, 1, 1) 5px;
    transition: border-bottom 0.3s ease-in-out;
  }
}
@media screen and (max-width: 1000px) {
  .header_setup_desktop {
    display: none;
  }
  .header_setup_mobile {
    position: fixed;
    top: 0;
    right: 0;
    height: 10vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    z-index: 210;
  }
  .header_setup_mobile .logo_container {
    position: absolute;
    left: 0;
    top: 0;
    width: 25%;
    height: 100%;
  }
  .header_setup_mobile .logo_container img {
    height: 80%;
    width: auto;
    position: relative;
    bottom: 0;
    padding-top: 20px;
    filter: invert(11%) sepia(75%) saturate(5626%) hue-rotate(359deg) brightness(83%) contrast(110%);
  }
  .header_setup_mobile .hamburger1 {
    margin-top: 20px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 45px;
    justify-content: center;
    z-index: 120;
  }
  .header_setup_mobile #input1 {
    grid-row: 1;
    display: none;
  }
  .header_setup_mobile .hamburger1 div {
    grid-row: span 1;
    position: relative;
    height: 5px;
    width: 40px;
    background-color: rgb(100, 0, 0);
    margin: 3px;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
  }
  .header_setup_mobile #input1:checked + .hamburger1 .line1 {
    transform: rotate(45deg);
    margin-top: 22.5px;
  }
  .header_setup_mobile #input1:checked + .hamburger1 .line2 {
    transform: rotate(-45deg);
    margin-top: -8px;
  }
  .header_setup_mobile #input1:checked + .hamburger1 .line3 {
    transform: scale(0);
  }
  .header_setup_mobile #input1:checked ~ .menu1 {
    height: 340px;
  }
  .header_setup_mobile .menu1 {
    margin-top: 3vh;
    grid-row: 2;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(5, auto);
    list-style: none;
    clear: both;
    width: auto;
    height: 0px;
    overflow: hidden;
    transition: height 0.4s ease;
    transition: all 0.3s ease;
    justify-content: center;
    align-items: center;
  }
  .header_setup_mobile .link1 {
    width: 100vw;
    font-family: "Ribeye", Arial, Helvetica, sans-serif;
    font-weight: bold 400;
    background-color: rgba(100, 0, 0, 0.668);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: #e0e0e0;
    padding: 20px;
    font-size: 26px;
    text-decoration: none;
    text-align: center;
  }
}
@media screen and (min-width: 1000px) {
  .home_page {
    height: 100vh;
    width: 100vw;
    background-color: gray;
  }
  .home_page img {
    width: 100vw;
    height: auto;
    position: relative;
    bottom: 25%;
  }
  .home_page .info_box {
    width: 40%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 20%;
    background-color: rgba(0, 0, 0, 0.291);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 200;
  }
  .home_page .info_box h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 30%;
  }
  .home_page .info_box h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: normal;
    font-size: 35px;
    padding-left: 30%;
    padding-top: 10px;
  }
}
@media screen and (max-width: 1000px) {
  .home_page {
    background-color: rgb(1, 1, 1);
    height: 100vh;
    display: flex;
    justify-content: center;
  }
  .home_page + img {
    position: relative;
    width: auto;
    height: 90vh;
    z-index: 100;
  }
  .home_page .info_box {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.291);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 200;
  }
  .home_page .info_box h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 24px;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    letter-spacing: 8px;
  }
  .home_page .info_box h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: normal;
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
    letter-spacing: 7px;
  }
}
@media screen and (min-width: 1000px) {
  .menu_page {
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 100vh;
  }
  .menu_page img {
    grid-column: 1;
    grid-row: 1;
    height: 100vh;
    max-width: 100%;
  }
  .menu_page .menu_section {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    height: 100%;
    padding-bottom: 10vh;
    overflow-y: scroll;
  }
  .menu_page .menu_section .image_container {
    margin-top: 10vh;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;
  }
  .menu_page .menu_section .image_container img {
    content: url("images/Scroll-Down.gif");
    height: 80px;
    width: auto;
  }
  .menu_page .menu_section h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(72, 72, 72);
    margin-left: 20px;
    font-size: 26px;
    margin-bottom: 30px;
    margin-top: 100px;
  }
  .menu_page .menu_section h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(72, 72, 72);
    padding-top: 40px;
    margin-left: 20px;
    font-weight: normal;
    width: 50%;
    border-bottom: dotted red 2px;
  }
  .menu_page .menu_section p {
    margin-top: 15px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: darkgray;
  }
  .menu_page .menu_section .small_menu_item_grid {
    width: 50%;
    height: auto;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-rows: auto auto;
    margin-top: 20px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: darkgray;
    gap: 10px;
  }
  .menu_page .menu_section .small_menu_item_grid .grid_item:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }
  .menu_page .menu_section .small_menu_item_grid .grid_item:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
  }
  .menu_page .menu_section .small_menu_item_grid .grid_item:nth-child(3) {
    grid-column: 3;
    grid-row: 1;
  }
  .menu_page .menu_section .small_menu_item_grid .grid_item:nth-child(4) {
    grid-column: 1;
    grid-row: 2;
  }
  .menu_page .menu_section .small_menu_item_grid .grid_item:nth-child(5) {
    grid-column: 2;
    grid-row: 2;
  }
  .menu_page .menu_section .small_menu_item_grid .grid_item:nth-child(6) {
    grid-column: 3;
    grid-row: 2;
  }
  .menu_page .menu_section .large_menu_item_grid {
    width: 50%;
    height: auto;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    margin-top: 20px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: darkgray;
    gap: 10px;
  }
  .menu_page .menu_section .large_menu_item_grid .grid_item:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }
  .menu_page .menu_section .large_menu_item_grid .grid_item:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
  }
  .menu_page .menu_section .large_menu_item_grid .grid_item:nth-child(3) {
    grid-column: 1;
    grid-row: 2;
  }
  .menu_page .menu_section .large_menu_item_grid .grid_item:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }
  .menu_page .menu_section .large_menu_item_grid .grid_item:nth-child(5) {
    grid-column: 1;
    grid-row: 3;
  }
  .menu_page .menu_section .large_menu_item_grid .grid_item:nth-child(6) {
    grid-column: 2;
    grid-row: 3;
  }
  .menu_page .menu_section .large_menu_item_grid .grid_item:nth-child(6) {
    grid-column: 1;
    grid-row: 4;
  }
}
@media screen and (max-width: 1000px) {
  .menu_page {
    display: none;
  }
  .bg_image {
    content: url("images/ai/chili.png");
    width: 100%;
    opacity: 0.2;
    position: fixed;
    bottom: 0;
  }
  .menu_page_mobile {
    width: 100vw;
    padding-bottom: 20vh;
    position: relative;
  }
  .menu_page_mobile .back_button {
    width: 100%;
    position: sticky;
    top: 0;
    right: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5vh;
    background-color: white;
  }
  .menu_page_mobile .back_button p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(131, 0, 0);
    font-size: 18px;
    justify-self: start;
  }
  .menu_page_mobile .back_button a {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(131, 0, 0);
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    padding-right: 30px;
    justify-self: end;
  }
  .menu_page_mobile h1 {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(101, 67, 33);
    font-size: 30px;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .menu_page_mobile h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(101, 67, 33);
    font-weight: normal;
    margin-top: 10%;
    margin-bottom: none;
    margin-left: 5%;
    margin-right: 5%;
  }
  .menu_page_mobile p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(101, 67, 33);
    margin-top: 3%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .menu_page_mobile .small_menu_item_grid {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(101, 67, 33);
    display: grid;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-rows: auto auto;
    margin-top: 20px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    gap: 10px;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .menu_page_mobile .small_menu_item_grid .grid_item:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }
  .menu_page_mobile .small_menu_item_grid .grid_item:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
  }
  .menu_page_mobile .small_menu_item_grid .grid_item:nth-child(3) {
    grid-column: 3;
    grid-row: 1;
  }
  .menu_page_mobile .small_menu_item_grid .grid_item:nth-child(4) {
    grid-column: 1;
    grid-row: 2;
  }
  .menu_page_mobile .small_menu_item_grid .grid_item:nth-child(5) {
    grid-column: 2;
    grid-row: 2;
  }
  .menu_page_mobile .small_menu_item_grid .grid_item:nth-child(6) {
    grid-column: 3;
    grid-row: 2;
  }
  .menu_page_mobile .large_menu_item_grid {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    margin-top: 20px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(101, 67, 33);
    gap: 10px;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .menu_page_mobile .large_menu_item_grid .grid_item:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }
  .menu_page_mobile .large_menu_item_grid .grid_item:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
  }
  .menu_page_mobile .large_menu_item_grid .grid_item:nth-child(3) {
    grid-column: 1;
    grid-row: 2;
  }
  .menu_page_mobile .large_menu_item_grid .grid_item:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }
  .menu_page_mobile .large_menu_item_grid .grid_item:nth-child(5) {
    grid-column: 1;
    grid-row: 3;
  }
  .menu_page_mobile .large_menu_item_grid .grid_item:nth-child(6) {
    grid-column: 2;
    grid-row: 3;
  }
  .menu_page_mobile .large_menu_item_grid .grid_item:nth-child(6) {
    grid-column: 1;
    grid-row: 4;
  }
}
@media screen and (min-width: 1000px) {
  .location_page {
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 100%;
  }
  .location_page .maps_container {
    grid-column: 1;
    overflow: hidden;
    width: 50vw;
    height: 90vh;
    background-color: blue;
    position: relative;
    bottom: -10vh;
  }
  .location_page .contact_us_section {
    margin-top: 20vh;
    grid-column: 2;
    width: 100%;
    padding-left: 20%;
    line-height: 2;
  }
  .location_page .contact_us_section h1 {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(72, 72, 72);
    margin-bottom: 20px;
  }
  .location_page .contact_us_section .text {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(72, 72, 72);
    font-weight: normal;
  }
  .location_page .contact_us_section .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 24;
    color: red;
  }
}
@media screen and (max-width: 1000px) {
  .location_page {
    display: none;
  }
  .location_page_mobile {
    width: 100%;
    height: 100vh;
    background-color: white;
    height: 100vh;
  }
  .location_page_mobile .back_button {
    width: 100%;
    position: sticky;
    top: 0;
    right: 0px;
    display: flex;
    justify-content: end;
    background-color: white;
    border-bottom: solid 2px rgb(72, 72, 72);
  }
  .location_page_mobile .back_button p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(131, 0, 0);
    font-size: 18px;
    justify-self: start;
  }
  .location_page_mobile .back_button a {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(72, 72, 72);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    padding-right: 30px;
    justify-self: end;
  }
  .location_page_mobile .maps_container {
    overflow: hidden;
    width: 100%;
    height: 70vh;
    background-color: blue;
    position: relative;
  }
  .location_page_mobile .contact_us_section {
    width: 100%;
    height: auto;
    padding-left: 5%;
    line-height: 2;
  }
  .location_page_mobile .contact_us_section h1 {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(72, 72, 72);
    margin-bottom: 20px;
  }
  .location_page_mobile .contact_us_section .text {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(72, 72, 72);
    font-weight: normal;
  }
  .location_page_mobile .contact_us_section .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 24;
    color: red;
  }
}
@media screen and (min-width: 1000px) {
  .reviews_page {
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    padding-top: 12vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    overflow-y: scroll;
    gap: 10px;
  }
  .reviews_page .yelp_reviews {
    grid-column: 1;
    grid-row: 1;
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgb(0, 0, 0);
    height: auto;
    padding: 5%;
    border-radius: 25px;
  }
  .reviews_page .tripadvisor_reviews {
    grid-column: 1;
    grid-row: 2;
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgb(0, 0, 0);
    height: auto;
    padding: 5%;
    border-radius: 25px;
  }
}
@media screen and (max-width: 1000px) {
  .reviews_page {
    display: none;
  }
  .reviews_page_mobile {
    background-color: rgb(252, 252, 252);
    height: 100vh;
  }
  .reviews_page_mobile .back_button {
    width: 100%;
    position: sticky;
    top: 0;
    right: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5vh;
    background-color: white;
    padding-bottom: 20px;
  }
  .reviews_page_mobile .back_button p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(72, 72, 72);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    padding-right: 30px;
  }
  .reviews_page_mobile .back_button a {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(72, 72, 72);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    padding-right: 30px;
    justify-self: end;
  }
  .reviews_page_mobile .yelp_reviews {
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    background-color: rgb(0, 0, 0);
    height: auto;
    padding: 5%;
    margin-bottom: 5vh;
  }
  .reviews_page_mobile .tripadvisor_reviews {
    width: 100%;
    height: 50%;
    margin-left: 0;
    margin-right: 0;
    background-color: rgb(0, 0, 0);
    height: auto;
    padding: 5%;
  }
}
@media screen and (min-width: 1000px) {
  .about_page {
    height: 100vh;
    width: 100vw;
    background-color: lightgray;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }
  .about_page img {
    width: 100vw;
    height: auto;
    position: relative;
    top: -30%;
  }
  .about_page p {
    position: absolute;
    width: 90%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.446);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 5%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(72, 72, 72);
    padding: 5%;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.5;
    width: 50%;
    z-index: 200;
  }
}
@media screen and (max-width: 1000px) {
  .about_page {
    display: none;
  }
  .about_page_mobile {
    height: 100vh;
    width: 100vw;
    background-color: lightgray;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow-y: hidden;
  }
  .about_page_mobile .back_button {
    width: 100%;
    position: sticky;
    top: 0;
    right: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5vh;
    background-color: white;
    padding-bottom: 20px;
  }
  .about_page_mobile .back_button p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(72, 72, 72);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    padding-right: 30px;
  }
  .about_page_mobile .back_button a {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(72, 72, 72);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    padding-right: 30px;
    justify-self: end;
  }
  .about_page_mobile img {
    position: relative;
    top: 0;
    z-index: 100;
  }
  .about_page_mobile .content {
    position: absolute;
    top: 20%;
    width: 80%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.446);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(72, 72, 72);
    padding: 5%;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.5;
    z-index: 175;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

@media screen and (min-width: 1000px) {
  body {
    height: 100vh;
  }
  .overflow_container {
    width: 500vw;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
  }
}
@media screen and (max-width: 1000px) {
  body {
    width: 100vw;
  }
  .overflow_container {
    width: 100%;
    overflow-x: hidden;
  }
}

/*# sourceMappingURL=styles.css.map */
